* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: 100vh;
  display: flex;
  font-family: "Bricolage Grotesque", sans-serif;

  .image {
    width: 50%;
    height: 100vh;
    background-image: url("../images/Jeu-d-ambiance-Giochi-Preziosi-Joe-le-Pendu.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .jeu {
    width: 50%;
    height: 100vh;
    background-color: #bb844d;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    h1 {
      width: 100%;
      text-align: center;
      margin-top: 30px;
    }

    h2 {
      text-align: center;
    }

    .text {
      width: 80%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 50px auto;
      background-color: rgba(255, 255, 255, 255, 0.4);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 20px;

      #mot {
        max-width: 100%;
        text-align: center;
        padding: 10px;

        p,
        span {
          font-family: "Bricolage Grotesque", sans-serif;
          font-size: 22px;
          margin: 20px;
        }

        p {
          text-decoration: underline;
        }
      }

      input {
        width: 200px;
        padding: 10px;
        border-radius: 15px;
        border: 1px solid black;
      }

      .error {
        color: #d30404;
        padding-top: 15px;
      }

      button {
        background-color: black;
        padding: 15px;
        color: white;
        border: none;
        cursor: pointer;
      }

      button,
      #mot {
        margin: 40px 40px 20px 40px;
      }

      .winYesNo {
        color: #d30404;
        margin: 30px;
      }

      .infos {

        #text1, #text2 {
          padding: 10px 0;

          .span1, .span1 {
            text-decoration: underline;
          }

          .span2, .span2 {
            color: white;
          }
        }
      }
    }
  }
}
